%p#notice= notice
%h3
  car for
  = @car.game.name
%p
  %b Model:
  = @car.model
%p
  %b Make:
  = @car.make


= link_to 'Edit', edit_game_car_path(@car.game, @car)
\|
= link_to 'Back', game_path(@car.game)
